@model IEnumerable<DrieUnityGarage.Models.PHIEUTHU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LyDoNop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChungTuGoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.HoTenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHANVIEN.HoTenNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LyDoNop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChungTuGoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.HoTenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHANVIEN.HoTenNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPT })
        </td>
    </tr>
}

</table>
