@model DrieUnityGarage.Models.PHIEUTHU

@{
    ViewBag.Title = "Sửa phiếu thu";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <h2>Chỉnh sửa thông tin phiếu thu</h2>
        </div>
    </div>

    @using (Html.BeginForm("SuaPhieuThu", "PHIEUTHU"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaPT)
        @Html.HiddenFor(model => model.NgayLap)
        @Html.HiddenFor(model => model.PT_MaNV)
        @Html.HiddenFor(model => model.DiaChi)

        <div class="container col-6" style="margin-top: 10px; font-size:17px;">
            <hr />
            <div class="form-group mb-3">
                <label for="MaHH" class="form-label"> Mã phiếu thu: </label>
                <input class="form-control" id="MaHH" value="@Model.MaPT" disabled />
            </div>
            <div class="form-group mb-3">
                <label for="NhanVien" class="form-label"> Người lập phiếu: </label>
                <input class="form-control" id="NhanVien" name="NhanVien" disabled value="@ViewBag.NhanVien" />

            </div>

            <div class="form-group mb-3">
                <label for="NgayLap" class="form-label"> Thời gian lập phiếu: </label>
                <input class="form-control" id="NgayLap" name="NgayLap" disabled value="@String.Format("{0:hh:mm:ss, dd/MM/yyyy}",Model.NgayLap)" />

            </div>
            <div class="form-group mb-3">
                <label for="DiaChi" class="form-label"> Địa chỉ nộp: </label>
                <textarea class="form-control" id="DiaChi" name="DiaChi" rows="2" disabled>@Model.DiaChi</textarea>

            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="lstMaKH"> Chọn người nộp: [Mã khách hàng - Số điện thoại - Họ tên]</label>
                @Html.DropDownList("lstMaKH", null, htmlAttributes: new { @class = "form-control" })
            </div>


            <div class="form-group mb-3">
                <label for="LyDoNop" class="form-label"> Lý do nộp: </label>
                <textarea class="form-control" id="LyDoNop" name="LyDoNop" rows="3" required>@Model.LyDoNop</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="SoTien" class="form-label"> Số tiền nộp: </label>
                <input type="number" class="form-control" id="SoTien" name="SoTien" required value="@Model.SoTien" />

            </div>
            <div class="form-group mb-3">
                <label for="ChungTuGoc" class="form-label"> Chứng từ gốc kèm theo (nếu có): </label>
                <input class="form-control" id="ChungTuGoc" name="ChungTuGoc" value="@Model.ChungTuGoc" />

            </div>
        </div>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row" style="margin:auto">
                    <div class="col-4">
                        @Html.ActionLink("< Quay về", "LayDanhSachPhieuThu", null, new { @class = "btn-back" })
                    </div>
                    <div class="col-4" style="text-align:center">
                        <input type="submit" value="Lưu chỉnh sửa" class="btn btn-success" />
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>


    }
</div>
