@model DrieUnityGarage.Models.BAOHANH
@{
    ViewBag.Title = "SuaThongTinBaoHanh";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />
<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <h2>Chỉnh sửa thông tin bảo hành</h2>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="container col-6" style="margin-top: 10px; font-size:17px;">


            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaBH)


                <div class="form-group mb-3">
                    <label for="MaTN" class="form-label"> Mã bảo hành: </label>
                    <input class="col-12 form-control" name="MaTN" id="MaTN" value="@Model.MaBH" disabled />
                </div>


                <div class="form-group mb-3">
                    <label for="TN_MaKH" class="form-label"> Chọn khách hàng: [Mã khách hàng - Số điện thoại - Họ tên] </label>
                    <div class="col-12">
                        @Html.DropDownList("BH_MaKH", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BH_MaKH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="lstXe" class="form-label"> Chọn xe cần sửa: [Biển số xe] </label>
                    <div class="col-12">
                        @Html.DropDownList("lstXe", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BH_BienSoXe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="lstHH" class="form-label"> Mã hàng hoá </label>
                    <div class="col-12">
                        @Html.DropDownList("BH_MaHH", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BH_MaHH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-4">
                    <label for="ThoiHanBaoHanh" class="form-label"> Thời hạn bảo hành: </label>
                    <div class="col-12">
                        <input type="number" id="NgayHen" name="ThoiHanBaoHanh" required class="form-control" value="@ViewBag.ThoiHanBaoHanh">
                    </div>
                </div>
                <div class="mb-4">
                    <label for="ThoiGianBatDau" class="form-label"> Thời gian bắt đầu: </label>
                    <div class="form-control" id="ThoiGianTiepNhan">@ViewBag.ThoiGianBatDau</div>
                </div>
                <div class="mb-4">
                    <label for="ThoiGianKetThuc" class="form-label"> Thời gian kết thúc: </label>
                    <div class="col-12">
                        <input type="date" id="NgayHen" name="ThoiGianKetThuc" required class="form-control" value="@ViewBag.ThoiGianKetThuc">
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="NoiBaoHanh" class="form-label"> Nơi bảo hành: </label>
                <div class="col-12">
                    @Html.TextAreaFor(model => model.NoiBaoHanh, 3, 1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NoiBaoHanh, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row" style="margin:0">
                    <div class="col-4">
                        @Html.ActionLink("< Quay về", "LayDanhSachThongTinBaoHanh", null, new { @class = "btn-back" })
                    </div>
                    <div class="col-4" style="text-align:center">
                        <input type="submit" value="Lưu chỉnh sửa" class="btn btn-success" />
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    }

</div>
