@model DrieUnityGarage.Models.BAOHANH
@{
    ViewBag.Title = "TaoThongTinBaoHanh";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px;">
    <div class="row">
        <div class="col-lg-12" style="text-align:center; ">
            <h2>Tạo thông tin bảo hành</h2>
        </div>
    </div>
    @using (Html.BeginForm("TaoTTBH_LayThongTinXe", "BAOHANH"))
    {
        <p style="font-size:20px; color:red; text-align:center; font-weight:bold">@ViewBag.ThongBao</p>
        <div class="container col-6" style="margin-top: 10px; font-size:17px;">
            <hr />
            @*Đã nhấn lấy thông tin xe*@
            @if (Session["DaLayThongTinXe"] != null)
            {
                <div class="form-group mb-3">
                    <label for="MaBaoHanh" class="form-label"> Mã bảo hành: </label>
                    <div class="form-control" id="MaTiepNhan">@ViewBag.MaBH</div>
                </div>

                <div class="mb-3">
                    <label for="KhachHang" class="form-label"> Khách hàng: </label>
                    <div class="form-control" id="KhachHang">@ViewBag.selectedKhachHang</div>
                </div>
 

            }
            else
            {
                <div class="form-group mb-3">
                    <label for="MaBaoHanh" class="form-label"> Mã bảo hành: </label>
                    <div class="form-control" id="MaTiepNhan">@ViewBag.MaBH</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="lstMaKH"> Chọn khách hàng: [Mã khách hàng - Số điện thoại - Họ tên]</label>
                    @Html.DropDownList("lstMaKH", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="mb-3 row" style="margin-left:0;margin-right:0; margin-top:30px;">
                    <div class="col-3"></div>
                    <input type="submit" value="Lấy danh sách phương tiện" class="col-6 btn btn-primary" />
                    <div class="col-3"></div>
                </div>
            }
        </div>

    }
    @if (Session["DaLayThongTinXe"] != null)
    {
        using (Html.BeginForm("TaoThongTinBaoHanh", "BAOHANH"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row" style="margin:0; padding:0">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label"> Chọn xe cần sửa: [Biển số xe] </label>
                        @Html.DropDownList("lstXe", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="mb-4">
                        <label class="form-label"> Hàng hoá: </label>
                        @Html.DropDownList("lstHH", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="mb-4">
                        <label for="ThoiHanBaoHanh" class="form-label"> Thời hạn bảo hành: </label>
                        <div class="col-12">
                            <input type="number" id="NgayHen" name="ThoiHanBaoHanh" required class="form-control" value="@ViewBag.ThoiHanBaoHanh">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="ThoiGianBatDau" class="form-label"> Thời gian bắt đầu: </label>
                        <div class="form-control" id="ThoiGianTiepNhan">@ViewBag.ThoiGianBatDau</div>
                    </div>
                    <div class="mb-4">
                        <label for="ThoiGianKetThuc" class="form-label"> Thời gian kết thúc: </label>
                        <div class="col-12">
                            <input type="date" id="NgayHen" name="ThoiGianKetThuc" required class="form-control" value="@ViewBag.ThoiGianKetThuc">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="NoiBaoHanh"> Nơi bảo hành: </label>
                        @Html.TextAreaFor(m => m.NoiBaoHanh, 3, 1, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-3"></div>

            </div>

            <div class="row" style="padding-bottom:10px;">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="row" style="margin:auto">
                        <div class="col-4">
                            @Html.ActionLink("< Quay về", "LayDanhSachThongTinBaoHanh", null, new { @class = "btn-back" })
                        </div>
                        <div class="col-4" style="text-align:center">
                            <input type="submit" value="Tạo thông tin" class="btn btn-primary" />
                        </div>
                        <div class="col-4"></div>

                    </div>
                </div>
                <div class="col-3"></div>

            </div>
        }
    }
</div>

