@model DrieUnityGarage.Models.CT_BAOGIA
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Delete</h2>


<h3>Bạn có chắc muốn xoá?</h3>
<div>
    <h4>CT_BAOGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HANGHOA.TenHH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HANGHOA.TenHH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAOGIA.BG_MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAOGIA.BG_MaKH)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
