@model DrieUnityGarage.Models.CT_BAOGIA
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Details</h2>


<div>
    <h4>CT_BAOGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HANGHOA.TenHH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HANGHOA.TenHH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAOGIA.BG_MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAOGIA.BG_MaKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
