@model DrieUnityGarage.Models.BANGIAOXE
@{
    ViewBag.Title = "ThemBanGiaoXe";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px;">
    <div class="row">
        <div class="col-lg-12" style="text-align:center; ">
            <h2>Tạo thông tin bàn giao</h2>
        </div>
    </div>
    @using (Html.BeginForm("TaoBGX_LayThongTinTiepNhan", "BANGIAOXE"))
    {
        <p style="font-size:20px; color:red; text-align:center; font-weight:bold">@ViewBag.ThongBao</p>
        <div class="container col-6" style="margin-top: 10px; font-size:17px;">
            <hr />
            @*Đã nhấn lấy thông tin xe*@
            @if (Session["DaLayThongTinTiepNhan"] != null)
            {
                <div class="form-group mb-3">
                    <label for="MaBG" class="form-label"> Mã bàn giao: </label>
                    <div class="form-control" id="MaTiepNhan">@ViewBag.MaBG</div>
                </div>
                <div class="mb-3">
                    <label for="NgayLap" class="form-label"> Ngày lập: </label>
                    <div class="form-control" id="NgayLap">@ViewBag.NgayLapBG</div>
                </div>

                <div class="mb-3">
                    <label for="lstMaTN" class="form-label"> Mã tiếp nhận: </label>
                    <div class="form-control" id="KhachHang">@ViewBag.selectedTiepNhan</div>
                </div>


            }
            else
            {
                <div class="form-group mb-3">
                    <label for="MaBG" class="form-label"> Mã bàn giao: </label>
                    <div class="form-control" id="MaTiepNhan">@ViewBag.MaBG</div>
                </div>

                <div class="mb-3">
                    <label for="NgayLap" class="form-label"> Ngày lập: </label>
                    <div class="form-control" id="ThoiGianTiepNhan">@ViewBag.NgayLapBG</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="lstMaTN"> Chọn thông tin tiếp nhận</label>
                    @Html.DropDownList("lstMaTN", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BG_MaTN, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3 row" style="margin-left:0;margin-right:0; margin-top:30px;">
                    <div class="col-3"></div>
                    <input type="submit" value="Lấy danh sách tiếp nhận" class="col-6 btn btn-primary" />
                    <div class="col-3"></div>
                </div>
            }
        </div>

    }
    @if (Session["DaLayThongTinTiepNhan"] != null)
    {
        using (Html.BeginForm("ThemBanGiaoXe", "BANGIAOXE"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row" style="margin:0; padding:0">
                <div class="col-3"></div>
                <div class="col-6">
                    <table class="table index-table" style="margin-top:20px;">
                        <tr>
                            <td>
                                Đánh giá tình trạng
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTinhTrang" value="1" />Rất tệ
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTinhTrang" value="2" />Tệ
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTinhTrang" value="3" />Bình thường
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTinhTrang" value="4" />Tốt
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTinhTrang" value="5" />Rất tốt
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Đánh giá trang bị
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTrangBi" value="1" />Rất tệ
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTrangBi" value="2" />Tệ
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTrangBi" value="3" />Bình thường
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTrangBi" value="4" />Tốt
                            </td>
                            <td>
                                <input type="radio" name="DanhGiaTrangBi" value="5" />Rất tốt
                        </tr>
                    </table>
                </div>
                <div class="col-3"></div>

            </div>

            <div class="row" style="padding-bottom:10px;">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="row" style="margin:auto">
                        <div class="col-4">
                            @Html.ActionLink("< Quay về", "LayDanhSachThongTinDatLich", null, new { @class = "btn-back" })
                        </div>
                        <div class="col-4" style="text-align:center">
                            <input type="submit" value="Tạo thông tin" class="btn btn-primary" />
                        </div>
                        <div class="col-4"></div>

                    </div>
                </div>
                <div class="col-3"></div>

            </div>
        }
    }
</div>
