@model IEnumerable<DrieUnityGarage.Models.HOADON>

@{
    ViewBag.Title = "Danh sách hoá đơn";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-5">
            <h2>Danh sách hoá đơn </h2>
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                Mã hoá đơn
            </th>
            <th>
                Ngày lập
            </th>
            <th>
                Tổng thanh toán
            </th>
            <th>
                Mã tiếp nhận
            </th>
            <th>
                Khách hàng
            </th>
            <th>
                Biển số xe
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHD)
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.NgayLap)
                </td>
                <td>
                    @String.Format("{0:0,0}đ", item.TongThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HD_MaTN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHACHHANG.HoTenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHUONGTIEN.BienSoXe)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "XemThongTinHoaDon", new { id = item.MaHD }, new { @class = "btn btn-details" })

                </td>
                <td>
                    @Html.ActionLink("Xoá", "XoaHoaDon", new { id = item.MaHD }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }
    </table>
</div>