@model DrieUnityGarage.Models.HOADON

@{
    ViewBag.Title = "Tạo hoá đơn";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center; ">
            <h2>Thêm hoá đơn</h2>
        </div>
    </div>
    <p style="font-size:20px; font-weight:bold">THÔNG TIN CHUNG:</p>

    @using (Html.BeginForm("TaoHD_LayThongTinTiepNhan", "HOADON"))
    {
        <p style="font-size:20px; color:red; text-align:center; font-weight:bold">@ViewBag.ThongBao</p>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row " style="margin: 0; margin-top: 10px; font-size: 17px;">
            @if (Session["DaLayThongTinTiepNhan"] != null)
            {
                <div class="form-group mb-3 col-4">
                    <label for="MaHD" class="form-label"> Mã hoá đơn: </label>
                    <div class="form-control w-75" id="MaHD">@ViewBag.MaHD</div>
                </div>
                <div class="form-group mb-3 col-4">
                    <label for="NgayLapHD" class="form-label"> Ngày lập hoá đơn: </label>
                    <div class="form-control w-75" id="NgayLapHD">@ViewBag.NgayLapHD</div>
                </div>
                <div class="form-group mb-3 col-4">
                    <label for="MaTN" class="form-label">  Thông tin tiếp nhận: </label>
                    <div class="form-control w-75" id="MaTN">@ViewBag.selectedTiepNhan</div>
                </div>
            }
            else
            {
                <div class="form-group mb-3 col-3">
                    <label for="MaHD" class="form-label"> Mã hoá đơn: </label>
                    <div class="form-control w-75" id="MaHD">@ViewBag.MaHD</div>
                </div>
                <div class="form-group mb-3 col-3">
                    <label for="NgayLapHD" class="form-label"> Ngày lập hoá đơn: </label>
                    <div class="form-control w-75" id="NgayLapHD">@ViewBag.NgayLapHD</div>
                </div>


                <div class="form-group mb-3 col-4">
                    <label class="form-label" for="lstMaKH">Chọn thông tin tiếp nhận:</label>
                    @Html.DropDownList("lstMaTN", null, htmlAttributes: new { @class = "form-control w-100" })
                </div>

                <div class="mb-3 col-2" style="margin-left:0;margin-right:0; margin-top:30px;">
                    <input type="submit" value="Lấy thông tin tiếp nhận" class="btn btn-primary" />
                </div>
            }
        </div>
    }
    @if (Session["DaLayThongTinTiepNhan"] != null)
    {
        <div class="row " style="margin: 0; font-size: 17px;">

            <div class="form-group mb-3 col-4">
                <label for="KhachHang" class="form-label"> Khách hàng: </label>
                <div class="form-control w-75" id="KhachHang">@ViewBag.KhachHang</div>
            </div>
            <div class="form-group mb-3 col-4">
                <label for="BienSoXe" class="form-label"> Biển số xe: </label>
                <div class="form-control w-75" id="BienSoXe">@ViewBag.BienSoXe</div>
            </div>
            <div class="form-group mb-3 col-4">
                <label for="NhanVien" class="form-label">  Nhân viên: </label>
                <div class="form-control w-75" id="NhanVien">@ViewBag.NhanVien</div>
            </div>
        </div>

    }

    <p style="font-size:20px; font-weight:bold; margin-top:10px;">CHI TIẾT HOÁ ĐƠN:</p>
    <div class="row">
        <div class="col-lg-9">
            @Html.Action("Partial_LayChiTietHoaDonList", "HOADON")
        </div>
        <div class="col-lg-3">
            @Html.Action("Partial_ThemChiTietHoaDon", "HOADON")
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        <div class="col-lg-5 align-bottom">
            @Html.ActionLink("< Quay về", "LayDanhSachHoaDon", null, new { @class = "nonedecor" })
        </div>
        @using (Html.BeginForm("CTDH_TaoHoaDon", "HOADON"))
        {
            <div class="col-lg-7">

                <input type="submit" value="Tạo mới" class="btn btn-info create-btn" />

            </div>}
    </div>
</div>

 