
@{
    ViewBag.Title = "ThemHoaDon_PhieuBG";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center; ">
            <h2>Tạo hoá đơn</h2>
        </div>
    </div>
    <p style="font-size:20px; font-weight:bold">THÔNG TIN CHUNG:</p>

    @using (Html.BeginForm("TaoHD_LayThongTinTiepNhan", "HOADON"))
    {
        <p style="font-size:20px; color:red; text-align:center; font-weight:bold">@ViewBag.ThongBao</p>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row " style="margin: 0; margin-top: 10px; font-size: 17px;">
            <div class="form-group mb-3 col-4">
                <label for="MaHD" class="form-label"> Mã hoá đơn: </label>
                <div class="form-control w-75" id="MaHD">@ViewBag.MaHD</div>
            </div>
            <div class="form-group mb-3 col-4">
                <label for="NgayLapHD" class="form-label"> Ngày lập hoá đơn: </label>
                <div class="form-control w-75" id="NgayLapHD">@ViewBag.NgayLapHD</div>
            </div>
            <div class="form-group mb-3 col-4">
                <label for="MaTN" class="form-label">  Thông tin tiếp nhận: </label>
                <div class="form-control w-75" id="MaTN">@ViewBag.selectedTiepNhan</div>
            </div>
        </div>
        <div class="row " style="margin: 0; font-size: 17px;">
            <div class="form-group mb-3 col-4">
                <label for="KhachHang" class="form-label"> Khách hàng: </label>
                <div class="form-control w-75" id="KhachHang">@ViewBag.KhachHang</div>
            </div>
            <div class="form-group mb-3 col-4">
                <label for="BienSoXe" class="form-label"> Biển số xe: </label>
                <div class="form-control w-75" id="BienSoXe">@ViewBag.BienSoXe</div>
            </div>
            <div class="form-group mb-3 col-4">
                <label for="NhanVien" class="form-label">  Nhân viên: </label>
                <div class="form-control w-75" id="NhanVien">@ViewBag.NhanVien</div>
            </div>
        </div>

    }

    <p style="font-size:20px; font-weight:bold; margin-top:10px;">CHI TIẾT HOÁ ĐƠN:</p>
            @Html.Action("Partial_TaoHD_PhieuBG_LayChiTietHoaDon", "HOADON", new {id = ViewBag.MaBG})
    <div class="row" style="padding-bottom:10px;">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row" style="margin:auto">
                <div class="col-4">
                    @Html.ActionLink("< Quay về", "LayDanhSachHoaDon", null, new { @class = "btn-back" })
                </div>

                <div class="col-4" style="text-align:center">
                    @using (Html.BeginForm("ThemHoaDon_PhieuBG", "HOADON"))
                    {
                        <script>
                            function myFunction() {
                                alert("Không thể tạo hoá đơn, vui lòng thêm chi tiết hoá đơn!");
                            }
                        </script>
                        {
                            var a = Session["lstSPHD"] as List<DrieUnityGarage.Models.THONGTINSANPHAM>;
                            if (a.Count() == 0)
                            {
                                <button onclick="myFunction()" class="btn btn-primary">Tạo hoá đơn</button>
                            }
                            else
                            {
                                <input type="submit" value="Tạo hoá đơn" class="btn btn-primary" />
                            }
                        }
                    }
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

</div>


