@model DrieUnityGarage.Models.XUATKHO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/HangHoa_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:50px; padding-right:50px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center; ">
            <h2 style="color: red">Xác nhận xoá thông tin</h2>
        </div>
    </div>
    <p style="font-size:20px; font-weight:bold">THÔNG TIN CHUNG:</p>
    <div class="row " style="margin: 0; margin-top: 10px; font-size: 17px;">
        <div class="form-group mb-3 col-4">
            <label for="MaXK" class="form-label"> Mã phiếu xuất kho: </label>
            <input class="form-control w-75" id="MaXK" name="MaXK" readonly value="@Model.MaXK" />
        </div>
        <div class="form-group mb-3 col-4">
            <label for="NgayLap" class="form-label"> Thời gian lập: </label>
            <input class="form-control w-75" id="NgayLap" name="NgayLap" readonly value="@ViewBag.NgayLap" />

        </div>
        <div class="form-group mb-3 col-4">
            <label for="MaNV" class="form-label"> Nhân viên thực hiện: </label>
            <input class="form-control w-75" id="MaNV" name="MaNV" readonly value="@Model.XK_MaNV" />
        </div>
    </div>
    <div class="row " style="margin: 0; margin-top: 10px; font-size: 17px;">
        <div class="form-group mb-3 col-4">
            <label for="MaBG" class="form-label"> Báo giá yêu cầu xuất kho: </label>
            <input class="form-control w-75" id="MaBG" name="MaBG" disabled value="Không có" />
        </div>
        <div class="form-group mb-3 col-4">
            <label for="LyDoXuat" class="form-label"> Lý do xuất kho: </label>
            <textarea class="form-control w-75" id="LyDoXuat" name="LyDoXuat" rows="1" readonly>@Model.LyDoXuat</textarea>
        </div>
        <div class="form-group mb-3 col-4">
            <label for="SoCT" class="form-label"> Số chứng từ kèm theo (nếu có): </label>
            <input class="form-control w-75" id="SoCT" name="SoCT" readonly value="@Model.SoChungTu" />
        </div>
    </div>

    <p style="font-size:20px; font-weight:bold; margin-top:10px;">CHI TIẾT XUẤT KHO:</p>
    @Html.Action("Partial_XemXK_LayDuLieuCTXK", "XUATKHO", new { id = Model.MaXK })

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" style="padding-bottom:10px;">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row" style="margin:0">
                    <div class="col-4">
                        @Html.ActionLink("< Quay về", "Index", null, new { @class = "btn-back" })
                    </div>
                    <div class="col-4" style="text-align:center">
                        @{
                            <input type="submit" value="Xác nhận xoá" class="btn btn-danger" onclick="clicked(event)"/>
                            <script>
                                function clicked(e) {
                                    if (!confirm('Xác nhận xoá phiếu xuất kho?')) {
                                        e.preventDefault();
                                    }
                                    else {
                                        alert("Đã xoá phiếu xuất kho!");
                                    }
                                }</script>
                        }

                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    }
</div>
