@model DrieUnityGarage.Models.XUATKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>XUATKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyDoXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyDoXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoChungTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoChungTu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAOGIA.BG_MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAOGIA.BG_MaKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.HoTenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.HoTenNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaXK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
