@model IEnumerable<DrieUnityGarage.Models.XUATKHO>

@{
    ViewBag.Title = "Danh sách phiếu xuất kho";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-5">
            <h2>Danh sách phiếu xuất kho </h2>
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-2">
            @Html.ActionLink("Tạo mới", "TaoPhieuXuatKho", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <table class="table index-table" style="margin-top:20px;">
        <tr>
            <th>
                Mã phiếu
            </th>
            <th>
                Ngày lập
            </th>
            <th>
                Người tạo
            </th>
            <th>
                Lý do xuất
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaXK)
                </td>

                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.NgayLap)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NHANVIEN.HoTenNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LyDoXuat)
                </td>

                <td>
                    @Html.ActionLink("Sửa", "SuaPhieuXuatKho", new { id = item.MaXK }, new { @class = "btn btn-success" })

                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "LayThongTinPhieuXuatKho", new { id = item.MaXK }, new { @class = "btn btn-details" })

                </td>
                <td>
                    @Html.ActionLink("Xoá", "XoaPhieuXuatKho", new { id = item.MaXK }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>