@model IEnumerable<DrieUnityGrage.Models.NHACUNGCAP>
@{
    ViewBag.Title = "LayDanhSachNhaCungCap";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-5">
            <h2>Danh sách nhà cung cấp </h2>
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-2">
            @Html.ActionLink("Tạo mới", "ThemNhaCungCap", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <table class="table index-table" style="margin-top:20px;">

        <tr>
            <th>
                Mã
            </th>
            <th>
                Tên
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Mã số thuế
            </th>
            <th>
                Email
            </th>
            <th>
                Loại hình
            </th>
            <th>
                Người đại diện
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.MaNCC)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChiNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoaiNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSoThueNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiHinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTenNguoiDaiDien)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "SuaNhaCungCap", new { id = item.MaNCC }, new { @class = "btn btn-success" })

                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "LayThongTinNhaCungCap", new { id = item.MaNCC }, new { @class = "btn btn-danger" })

                </td>
                <td>   @Html.ActionLink("Xoá", "XoaNhaCungCap", new { id = item.MaNCC }, new { @class = "btn btn-primary" })</td>
            </tr>
        }

    </table>


</div>
