@model IEnumerable<DrieUnityGrage.Models.NHANVIEN>

@{
    ViewBag.Title = "LayDanhSachNhanVien";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-5">
            <h2>Danh sách nhân viên </h2>
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-2">
            @Html.ActionLink("Tạo mới", "ThemNhanVien", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <table class="table index-table" style="margin-top:20px;">

        <tr>
            <th>
                Họ tên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Ngày tháng năm sinh
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Phòng ban
            </th>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Ngày tạo tài khoản
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.HoTenNV)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoaiNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioiTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChucVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhongBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDangNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTaoTK)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "SuaThongTinNhanVien", new { id = item.MaNV }, new { @class = "btn btn-success" })

                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "LayThongTinNhanVien", new { id = item.MaNV }, new { @class = "btn btn-danger" })

                </td>
                <td>   @Html.ActionLink("Xoá", "XoaNhanVien", new { id = item.MaNV }, new { @class = "btn btn-primary" })</td>
            </tr>
        }

    </table>


</div>
