@model List<DrieUnityGarage.Models.THONGTINSANPHAM>

<link rel="stylesheet" href="~/Content/TaoHoaDon.css" />
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />


<style>
    #hinh {
        background: white url(/Images/Icon/icon_Edit.png) left no-repeat;
        padding-left: 17px;
    }

    #hinh2 {
        background: white url(/Images/Icon/icon_Delete.png) left no-repeat;
        padding-left: 17px;
    }
</style>
<table class="table index-table">
    <tr>
        <th>
            Hình ảnh
        </th>
        <th>
            Mã
        </th>
        <th>
            Tên
        </th>
        <th>
            ĐVT
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Thành tiền
        </th>
        <th>
            Cập nhật số lượng
        </th>
        <th>
            Xoá
        </th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("CTBG_CapNhatSoLuong", "BAOGIA", new { id = item.MaSP }))
        {

            <tr>
                <td>
                    <img src="~/Uploads/HangHoa/@item.HinhAnh" class="center" style="width: 50%; height: 50%;" />
                </td>

                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>

                <td>
                    @item.DonViTinh
                </td>

                <td>

                    <input type="number" min="1" max="@item.TonKho" name="changequantity" value="@item.SoLuong"
                           data-id="@item.MaSP" class="quantity quantity-form" />
                </td>


                <td>
                    @String.Format("{0:0,0}đ", item.DonGia)

                </td>

                <td>
                    @String.Format("{0:0,0}đ", item.FinalPrice())

                </td>
                <td><input type="submit" id="hinh" class="btn" value="" /></td>
                <td>
                    <a href="@Url.Action("CTBG_XoaSP","BAOGIA", new { id = item.MaSP })" class="btn" style="padding:0">
                        <img alt="" src="@Url.Content("~/Images/Icon/icon_Delete.png")">

                    </a>
                </td>
            </tr>

        }
    }
    @if (Session["lstSPBG"] != null)
    {
        <tr style="font-weight:bold">
            <td>
                Tổng
            </td>
            <td colspan="2"></td>

            <td class="soluong">@ViewBag.TotalNumber</td>
            <td></td>
            <td class="tongthanhtoan">
                @String.Format("{0:0,0}đ", @ViewBag.TotalPrice)
            </td>
            <td colspan="3"></td>

        </tr>



    }

</table>

