@model DrieUnityGarage.Models.KHACHHANG
@{
    ViewBag.Title = "LayThongTinKhachHang";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <h2>Thông tin khách hàng</h2>
        </div>
    </div>

    <div class="col-lg-3"></div>
    <div class="container col-6" style="margin-top: 10px; font-size:17px;">
        <hr />
        <div class="form-group mb-3">
            <label for="HoTenNV" class="form-label"> Họ tên: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.HoTenKH)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="DienThoaiNV" class="form-label"> Số điện thoại: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.DienThoaiKH)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="DonGia" class="form-label"> Đơn giá: </label>
            <div class="col-12 form-control">
                @String.Format("{0:dd/MM/yyyy}", Model.NgaySinh)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="GioiTinh" class="form-label"> Giới tính: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.GioiTinh)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="Email" class="form-label"> Email: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="DiaChi" class="form-label">  Địa chỉ: </label>
            <textarea class="form-control col-12" id="DiaChi" name="DiaChi" rows="2" readonly>@Model.DiaChi</textarea>

        </div>
    </div>
    <div class="row" style="padding-bottom:10px;">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row" style="margin:0">
                <div class="col-4">
                    @Html.ActionLink("< Quay về", "LayDanhSachKhachHang", null, new { @class = "btn-back" })
                </div>
                <div class="col-4" style="text-align:center">
                    @Html.ActionLink("Chỉnh sửa thông tin", "CapNhatKhachHang", new { id = Model.MaKH }, new { @class = "btn btn-success" })
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

</div>
