@model DrieUnityGarage.Models.KHACHHANG
@{
    ViewBag.Title = "LayThongTinKhachHang";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="text-align:center">
            <h2>Thông tin nhà cung cấp</h2>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="container col-8">
        <hr />
        <div class="form-horizontal form-decor">

            <div class="form-group space-field">
                Họ tên khách hàng:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.HoTenKH)
                </div>
            </div>

            <div class="form-group space-field">
                Số điện thoại khách hàng:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.DienThoaiKH)
                </div>
            </div>

            <div class="form-group space-field">
                Ngày tháng năm sinh:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.NgaySinh)
                </div>
            </div>

            <div class="form-group space-field">
                Giới tính:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.GioiTinh)
                </div>
            </div>

            <div class="form-group space-field">
                Email:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div class="form-group space-field">
                Điểm thành viên:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.DiemThanhVien)
                </div>
            </div>

            <div class="form-group space-field">
                Địa chỉ:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.DiaChi)
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:40px">
            <div class="row">
                <div class="col-lg-5 align-bottom">
                    @Html.ActionLink("< Quay về", "LayDanhSachKhachHang", null, new { @class = "nonedecor" })
                </div>
                <div class="col-lg-7">
                    @Html.ActionLink("Chỉnh sửa", "CapNhatKhachHang", new { id = Model.MaKH }, new { @class = "btn btn-success create-btn" })
                </div>
            </div>
        </div>
    </div>

</div>


