@model DrieUnityGarage.Models.TRAGOP

@{
    ViewBag.Title = "Tạo phiếu đăng ký trả góp";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />
<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center; ">
            <h2>PHIẾU ĐĂNG KÝ DỊCH VỤ TRẢ GÓP</h2>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container col-7" style="margin-top: 10px; font-size:17px;">
            <hr />
            <div class="form-group mb-3">
                <label for="MaTG" class="form-label"> Mã phiếu đăng ký: </label>
                <input class="form-control" id="MaTG" value="@ViewBag.MaTG" disabled />
            </div>
            <div class="form-group mb-3">
                <label for="NhanVien" class="form-label"> Người lập phiếu: </label>
                <input class="form-control" id="NhanVien" name="NhanVien" disabled value="@ViewBag.NhanVien" />
            </div>
            <div class="form-group mb-3">
                <label for="NgayLap" class="form-label"> Thời gian lập phiếu: </label>
                <input class="form-control" id="NgayLap" name="NgayLap" disabled value="@ViewBag.NgayLap" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="lstMaHD"> Chọn hoá đơn: [Mã hoá đơn]</label>
                @Html.DropDownList("lstMaHD", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group mb-3">
                <label class="form-label" style="padding-right:33px"> Tỷ lệ trả góp (%): </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="TyLeTraGop" id="inlineRadio1" value="0.5" checked>
                    <label class="form-check-label" for="inlineRadio1">50%</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="TyLeTraGop" id="inlineRadio2" value="0.6">
                    <label class="form-check-label" for="inlineRadio2">60%</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="TyLeTraGop" id="inlineRadio3" value="0.7">
                    <label class="form-check-label" for="inlineRadio3">70%</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="TyLeTraGop" id="inlineRadio4" value="0.8">
                    <label class="form-check-label" for="inlineRadio4">80%</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="TyLeTraGop" id="inlineRadio5" value="0.9">
                    <label class="form-check-label" for="inlineRadio5">90%</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="TyLeTraGop" id="inlineRadio6" value="1">
                    <label class="form-check-label" for="inlineRadio6">100%</label>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="form-label" style="padding-right:10px;"> Thời hạn trả (tháng):  </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ThoiHanTra" id="inlineRadio11" value="3" checked>
                    <label class="form-check-label" for="inlineRadio1">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ThoiHanTra" id="inlineRadio22" value="6">
                    <label class="form-check-label" for="inlineRadio2">6</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ThoiHanTra" id="inlineRadio33" value="9">
                    <label class="form-check-label" for="inlineRadio3">9</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ThoiHanTra" id="inlineRadio44" value="12">
                    <label class="form-check-label" for="inlineRadio3">12</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ThoiHanTra" id="inlineRadio55" value="18">
                    <label class="form-check-label" for="inlineRadio3">18</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ThoiHanTra" id="inlineRadio66" value="24">
                    <label class="form-check-label" for="inlineRadio3">24</label>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="NgayTraDinhKi" class="form-label"> Ngày trả định kỳ: </label>
                <div class="col-12">
                    <input type="date" id="NgayTraDinhKi" name="NgayTraDinhKi" required class="form-control">
                </div>
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row" style="margin:auto">
                    <div class="col-4">
                        @Html.ActionLink("< Quay về", "Index", null, new { @class = "btn-back" })
                    </div>
                    <div class="col-4" style="text-align:center">
                        <input type="submit" value="Tạo phiếu đăng ký" class="btn btn-primary" />
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>

    }
</div>
