@model DrieUnityGrage.Models.HANGHOA

@{
    ViewBag.Title = "Thông tin hàng hoá";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="text-align:center">
            <h2>Thông tin hàng hoá</h2>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="container col-8">
        <hr />
        <div class="form-horizontal form-decor">

            <div class="form-group space-field">
               Tên hàng hoá:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.TenHH)
                </div>
            </div>
            <div class="form-group space-field">
                Đơn giá:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.DonGia)
                </div>
            </div>
            <div class="form-group space-field">
                Đơn vị tính:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.DonViTinh)
                </div>
            </div>
            <div class="form-group space-field">
                Loại hàng:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.LoaiHang)
                </div>
            </div>
            <div class="form-group space-field">
                Số lượng tồn:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.SoLuongTon)
                </div>
            </div>
            <div class="form-group space-field">
                Tên nhà cung cấp:
                <div class="col-md-12 form-control">
                    @Html.DisplayFor(model => model.NHACUNGCAP.TenNCC)
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:40px">
            <div class="row">
                <div class="col-lg-5 align-bottom">
                    @Html.ActionLink("< Quay về", "Index", null, new { @class = "nonedecor" })
                </div>
                <div class="col-lg-7">
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaHH }, new { @class = "btn btn-success create-btn" })
                </div>
            </div>
        </div>
    </div>
</div>

