@model DrieUnityGarage.Models.HANGHOA

@{
    ViewBag.Title = "SuaThongTinHangHoa";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />
<script src="~/Scripts/UploadImage.js"></script>

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <h2>Chỉnh sửa thông tin hàng hoá</h2>
        </div>
    </div>
    @using (Html.BeginForm("SuaThongTinHangHoa", "HANGHOA", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <div class="container col-6" style="margin-top: 10px; font-size:17px;">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaHH)
                @Html.HiddenFor(model => model.SoLuongTon)
                @Html.HiddenFor(model => model.SoLuongTmp)
                <div class="form-group mb-3">
                    <label for="MaHH" class="form-label"> Mã hàng hoá: </label>
                    <input class="form-control" id="MaHH" value="@Model.MaHH" disabled />
                </div>

                <div class="form-group mb-3">
                    <label for="TenHH" class="form-label"> Tên hàng hoá: </label>
                    @Html.EditorFor(model => model.TenHH, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.TenHH, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    <label for="DonGia" class="form-label"> Đơn giá: </label>
                    @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control", @type = "number", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                </div>
                @{
                    var lstDVT = new List<SelectListItem>()
                                                                            {
                   new SelectListItem()
                    {
                       Text ="Cái",
                       Value ="Cái"
                    },
                   new SelectListItem()
                   {
                       Text = "Chai",
                       Value = "Chai"
                   },
                   new SelectListItem()
                   {
                       Text = "Cặp",
                       Value = "Cặp"
                   },
                   new SelectListItem()
                   {
                       Text = "Lít",
                       Value = "Lít"
                   }

               };
                }
                <div class="form-group mb-3">
                    <label for="DonViTinh" class="form-label"> Đơn vị tính: </label>
                    @Html.DropDownList("DonViTinh", lstDVT, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
                </div>
                @*Tạo dropdown líst*@
                @{
                    var lstLoaiHang = new List<SelectListItem>()
                                                                    {
                    new SelectListItem()
                    {
                       Text ="Phụ tùng",
                       Value ="Phụ tùng"
                    },
                     new SelectListItem()
                   {
                       Text = "Dịch vụ",
                       Value = "Dịch vụ"
                   }
               };
                }

                <div class="form-group mb-3">
                    <label for="LoaiHang" class="form-label"> Loại hàng hoá: </label>
                    @Html.DropDownList("LoaiHang", lstLoaiHang, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.LoaiHang, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-3">
                    <label for="SoLuongTon" class="form-label"> Số lượng tồn: </label>
                    <input disabled class="col-12 form-control" value="@Model.SoLuongTon" />
                </div>

                <div class="form-group mb-3">
                    <label for="HH_MaNCC" class="form-label"> Nhà cung cấp hàng hoá: </label>
                    @Html.DropDownList("HH_MaNCC", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HH_MaNCC, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    <label for="HinhAnhHienTai" class="form-label"> Hình ảnh hàng hoá: </label>
                    <div>
                        <img src="~/Uploads/HangHoa/@Model.HinhAnh" class="center" style="width: 50%; height: 50%;" />
                    </div>
                </div>
                <div class="form-group mb-3 row" style="margin: 0; padding: 0">
                    <label for="HinhAnh" class="col-3 form-label" style="margin:0; padding:0"> Hình ảnh mới: </label>
                    <div class="col-9 " style="margin:0; padding:0">
                        <input name="HinhAnh" type="file" accept="image/*" id="HinhAnh" class="form-control" />
                    </div>
                    <img id="previewnen" class="d-none center" src="#" style="width:50%; height:50%; margin-top:20px;" />

                    @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row" style="margin:auto">
                    <div class="col-4">
                        @Html.ActionLink("< Quay về", "LayDanhSachHangHoa", null, new { @class = "btn-back" })
                    </div>
                    <div class="col-4" style="text-align:center">
                        <input type="submit" value="Lưu chỉnh sửa" class="btn btn-success" />
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    }
</div>
<script src="~/Scripts/UploadImage.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>