@model List<DrieUnityGarage.Models.HANGHOA>
@{
    ViewBag.Title = "Tạo bảng giá";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/TaoHoaDon.css" />
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />
<div class="container-fluid" style="margin-top:30px; padding-left:100px; padding-right:100px">
    @{ var count = 1;}

    <div class="row">
        <div class="col-lg-12" style="text-align:center; ">
            <h2>Tạo bảng giá</h2>
        </div>
    </div>
    <p style="font-weight:500; color:red; font-size:18px; text-align:center">@ViewBag.ThongBao</p>
    @using (Html.BeginForm("TaoBangGia", "HANGHOA"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row" style="margin-top:30px;">
            <div class="col-2"></div>
            <table class="table table-bordered index-table col-8">
                <tr>
                    <th width="10%">
                        Chọn
                    </th>
                    <th width="10%">
                        STT
                    </th>
                    <th width="15%">
                        Mã phụ tùng
                    </th>
                    <th width="30%">
                        Tên phụ tùng
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Đơn vị tính
                    </th>
                    <th>
                        Giá bán lẻ
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox" value="@item.MaHH" name="listSanPham" id="listSanPham">
                        </td>
                        <td>
                            @count
                        </td>

                        <td>
                            @item.MaHH
                        </td>
                        <td>
                            @item.TenHH
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            @item.DonViTinh
                        </td>
                        <td>
                            @String.Format("{0:0,0}đ", item.DonGia)
                        </td>

                    </tr>
                    { count++; }
                }
            </table>

            <div class="col-2"></div>
        </div>

        <div class="row" style="padding-bottom:10px; margin-top:20px">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row" style="margin:auto">
                    <div class="col-4">
                        @Html.ActionLink("< Quay về", "LayThongTinBangGia", null, new { @class = "btn-back" })
                    </div>

                    <div class="col-4" style="text-align:center">

                        <input type="submit" value="Tạo bảng giá" class="btn btn-primary" onclick="Check()" />
                        <script>
                            function Check() {
                                debugger;
                                var input = document.getElementById("listSanPham").value;
                                if (input == null)
                                    alert('Chọn ít nhất một sản phẩm để tạo bảng giá!')

                            }

                        </script>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>

    }

</div>



