@model DrieUnityGarage.Models.HANGHOA
@{
    ViewBag.Title = "XoaHangHoa";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <h2 style="color: red">Xác nhận xoá thông tin</h2>
        </div>
    </div>
    <div class="container col-6" style="margin-top: 10px; font-size:17px;">
        <p style="font-weight:500; color:red; font-size:18px; text-align:center">@ViewBag.ThongBao</p>
        <hr />
        <div class="form-group mb-3">
            <label for="MaHH" class="form-label"> Mã hàng hoá: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.MaHH)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="TenHH" class="form-label"> Tên hàng hoá: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.TenHH)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="DonGia" class="form-label"> Đơn giá: </label>
            <div class="col-12 form-control">
                @String.Format("{0:0,0}đ", Model.DonGia)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="DonViTinh" class="form-label"> Đơn vị tính: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.DonViTinh)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="DonViTinh" class="form-label"> Loại hàng: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.LoaiHang)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="SoLuongTon" class="form-label"> Số lượng tồn: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.SoLuongTon)
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="TenNCC" class="form-label"> Nhà cung cấp: </label>
            <div class="col-12 form-control">
                @Html.DisplayFor(model => model.NHACUNGCAP.TenNCC)
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" style="padding-bottom:10px;">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row" style="margin:0">
                    <div class="col-4">
                        @Html.ActionLink("< Quay về", "LayDanhSachHangHoa", null, new { @class = "btn-back" })
                    </div>
                    <div class="col-4" style="text-align:center">
                        <input type="submit" value="Xác nhận xoá" class="btn btn-danger" />
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    }
</div>

