@model DrieUnityGrage.Models.THONGTINTIEPNHAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/NCC_Index.css" />

<div class="container-fluid" style="margin-top:30px; padding-left:30px; padding-right:30px">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="text-align:center">
            <h2>Chỉnh sửa thông tin tiếp nhận</h2>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="container col-8">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal form-decor">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaTN)

                <div class="form-group space-field">
                    Mã khách hàng:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.TN_MaKH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TN_MaKH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group space-field">
                    Biển số xe:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.TN_BienSoXe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TN_BienSoXe, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group space-field">
                    Mã nhân viên:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.TN_MaNV, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TN_MaNV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group space-field">
                    Thời gian tiếp nhận:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ThoiGianTiepNhan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThoiGianTiepNhan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group space-field">
                    Thời gian dự kiến:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ThoiGianGiaoDuKien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThoiGianGiaoDuKien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group space-field">
                    Ghi chú:
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.GhiChuKH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GhiChuKH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:40px">
                    <div class="row">
                        <div class="col-lg-5 align-bottom">
                            @Html.ActionLink("< Quay về", "Index", null, new { @class = "nonedecor" })
                        </div>
                        <div class="col-lg-7">
                            <input type="submit" value="Lưu" class="btn btn-info create-btn" />

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
