@model DrieUnityGrage.Models.HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_MaTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_MaTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.HoTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.HoTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHUONGTIEN.SoMay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHUONGTIEN.SoMay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THONGTINTHANHTOAN.TT_MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGTINTHANHTOAN.TT_MaKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THONGTINTIEPNHAN.TN_MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGTINTIEPNHAN.TN_MaKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
